/* Import Google Fonts for Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Basic styles */
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #ff6f59; /* Define primary color variable */
  --secondary-clr: #131515; /* Define secondary color variable */
  --white-clr: #fff; /* Define white color variable */
  --black-clr: #000; /* Define black color variable */
  --bg-clr: #f6f6f6; /* Define background color variable */
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-clr);
  background-color: var(--bg-clr);
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header Section */
.standard-header {
  padding: 1.2rem 0;
  position: fixed;
  width: 100%;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 10px -5px rgba(31, 31, 31, 0.29);
  z-index: 50;
}

.standard-header .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.standard-header .toggle-menu {
  display: none;
}

.standard-header .logo {
  z-index: 40;
  font-size: 1.3rem;
  color: var(--black-clr);
  font-weight: bold;
}

/* Navigation menu */
.standard-header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.standard-header .nav__list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.standard-header .nav__list li {
  margin: 0 1rem;
  text-transform: capitalize;
}

.standard-header .nav__list a {
  color: var(--secondary-clr);
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.standard-header .nav__list a:hover {
  color: var(--primary-clr);
}

.standard-header .nav__list .active {
  color: var(--primary-clr);
}

/* Button styles */
.standard-header .btn-outline {
  color: var(--black-clr);
  padding: 0.7rem 2.5rem;
  border-radius: 0.4rem;
  font-family: inherit;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--primary-clr);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.standard-header .btn-outline:hover {
  background-color: var(--primary-clr);
  color: var(--black-clr);
}

/* Responsiveness */
/* Mobile navigation menu */
@media (max-width: 48rem) {
  .standard-header .toggle-menu {
    border: 0;
    display: inline-block;
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    display: block;
  }

  .standard-header .nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(-70rem);
    background-color: var(--secondary-clr);
    transition: transform 0.6s ease-in-out;
  }

  /* JavaScript styles start */
  .standard-header .nav.showNav {
    transform: translateX(0rem);
  }

  .standard-header .toggle-menu i.closeIcon::before {
    content: '\f00d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 2rem;
  }

  /* Remove this property if you are using an image */
  .standard-header .invertLogo {
    color: var(--white-clr);
  }
  /* JavaScript styles end */

  .standard-header .nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 8rem;
  }

  .standard-header .nav__list li {
    margin-bottom: 1.2rem;
    text-transform: capitalize;
  }

  .standard-header .nav__list a {
    color: var(--white-clr);
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.2s ease;
  }

  .standard-header .nav__list a:hover {
    color: var(--primary-clr);
  }

  .standard-header .nav__list .active {
    color: var(--primary-clr);
  }

  .standard-header .cta {
    margin-left: 1rem;
    font-weight: 500;
  }
}
